body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiTableCell-root {
  border: none !important;
}
 
 .MuiPaper-root{
    border-color:none !important;
    box-shadow: none !important;
 }

 .MuiTablePagination-root{
      border-top: 1px solid lightgray;

 }
th{
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);

}

tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

h5 {
  color: gray !important;
}

p {
  padding-left: 20px;
  color: gray !important;
}
